@use "layout/layout" as *;
@use "base/typography" as *;
@use "variables/variables" as *;

.pokemon {
    @include flex-layout(column, nowrap);
    padding: $p-12;
    min-width: 200px;
    cursor: pointer;
    &-number {
        text-align: end;
        color: $id-text;
        padding: $p-8;
        font-size: $font-md;
    }
    &-image{
        align-self: center;
    }
    &-name {
        color: $dark-text;
        padding: $p-8;
        font-size: $font-lg;
        font-weight: bold;
        text-transform: capitalize;
    }
    &-tags-container {
        @include flex-layout(row, wrap);
        &_tag {
            font-size: $font-sm;
            margin-left: $p-4;
        }
    }
}